{% extends "base.html" %}
{% block head %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">heatmap</h1>
</div>
{% endblock %}

{% block content %}

{% if params.msg.msg_type == 0 %}
<table class="table">
  <thead>
    <tr>
        <th>candidate image</th>
        <th>cam image</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      {% if params.image_name != '' %}
      <td>
        <p>{{ params.image_name }}</p>
        <img class="rounded float-left" width="128" height="128" src="{{ params.image_path }}">
      </td>
      {% endif %}

      {% if params.cam_name != '' %}
      <td>
        <p>{{ params.cam_name }}</p>
        <img class="rounded float-left" width="128" height="128" src="{{ params.cam_path }}">
      </td>
      {% endif %}
    </tr>
  </tbody>
</table>
{% elif params.msg.msg_type == -1 %}
<h2 class="h2">{{ params.msg.msg_info }}<a class="nav-link active" href="/start"> Candidate </a></h2>
{% endif %}

{% endblock %}